doc/_build
.vscode

# Ignore tecplot and results files
*.plt
*.lay
*.f5
*.dcel
*.bdf
*.dat
*disp.txt
*.hst
*.out
*forces.txt

*.pyc

# Ignore coarsened mesh
tutorial/wing/INPUT/wing_vol_coarsen.cgns

# Ignore results files
tutorial/wing/output